body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #083ca3; 
  color: #fff6e6; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #dad7cd; 
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
  text-align: center;
  max-width: 400px;
  width: 90%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); 
}

h1 {
  color:#083ca3; 
  font-size: 1.1em; 
  margin-bottom: 20px;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ff9472; 
  border-radius: 10px;
  width: 80%;
  margin-bottom: 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input:focus {
  outline: none;
  border-color: #ff9472;
  box-shadow: 0 0 10px rgba(255, 148, 114, 0.7); 
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #95f5e8; 
  color: #040507; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #007BFF; 
  transform: scale(1.1); 
}

p {
  font-size: 18px;
  margin: 10px 0;
  color: #083ca3;
}

.error-message {
  color: #ff4c4c; 
  font-weight: bold;
}

.weather-info {
  margin-top: 20px;
  border-top: 2px solid #007BFF; 
  padding-top: 15px;
}

.weather-info h2 {
  font-size: 2em;
  color: #3f1fb1;
  margin: 10px 0;
}

.weather-info p {
  font-size: 1.4em;
  margin: 5px 0;
}

.weather-info img {
  width: 90px; 
  height: 90px; 
  transition: transform 0.3s ease;
}

.weather-info img:hover {
  transform: scale(1.1); 
}